* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid red; */
}

.container {
    background-color: rgba(255, 144, 14, 0.1);
}

.nav-container {
    display: flex;
    padding: 50px;
    justify-content: space-around;
}

.logo-text {
    color: #131313;
}

.items {
    display: flex;
    justify-content:space-around;
    list-style: none;
    color: #424242;
}

.item {
    font-weight: 500;
    font-size: 18px;
    margin-right: 10px;
    padding: 5px;
    color: #424242;
}

.banner-container {
    width: 100%;
    height: 100vh;
    /* background-color: rgba(255, 144, 14, 0.1); */
    text-align: center;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.description {
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #727272;
}

.btn {
    padding: 15px 35px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    margin-top: 53px;
}


/* features-container */

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* left */
.feature-left-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 85px;
    width: 60%;
}

.feature-up, .feature-down{
    display: flex;
}

.feature {
    padding: 10px;
    width: 342px;
    height: 342px;
    margin: 10px;
}

.feature-logo {
    width: 100%;
    padding-bottom: 5px;
}

/* right */
.feature-right-container {
    margin-top: 150px;
    padding: 10px;

}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-1 {
    font-weight: 700;
    color: #131313;
}

.text-2 {
    font-weight: 700;
    color: #FF900E;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;

}