* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    /* border: 1px solid red; */
}

.container {
    /* background-color: rgba(255, 144, 14, 0.1); */
    width: 100%;
    height: 100vh;
}

.nav-container {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    background-color: rgba(255, 144, 14, 0.1);
}

.logo-text {
    color: #131313;
}

.items {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: #424242;
}

.item {
    font-weight: 500;
    font-size: 18px;
    margin-right: 10px;
    padding: 5px;
    color: #424242;
}

/* --------banner---------- */
.banner-container {
    text-align: center;
    background-color: rgba(255, 144, 14, 0.1);
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.description {
    font-weight: 400;
    font-size: 16px;
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #727272;
}

.btn {
    padding: 15px 35px;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    margin-top: 53px;
}

.banner-image {
    height: 50%;
    width: 90%;

}

.img {
    padding: 40px 140px;
}


/*---------------features-container--------------- */

.features-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 85px;
}

/*feature-left-container */

.feature-up{
    display: flex;
}
.feature-down {
    display: flex;
}

.feature {
    padding: 10px;
    width: 342px;
    height: 342px;
    margin: 10px;
}

.feature-logo {
    width: 100%;
    padding-bottom: 5px;
}

/* feature-right-container */
.feature-right-container {
    margin-top: 100px;
    padding: 10px;

}

.feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.text-1 {
    font-weight: 700;
    color: #131313;
}

.text-2 {
    font-weight: 700;
    color: #FF900E;
}

.feature-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;

}

/* -----------architect section----------------- */
.architect {
    display: flex;
    gap: 5px;
    padding-left: 15px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.architect-details {
    width: 600px;
    padding-left: 15px;
    background: #ffffff;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
}

.architect-title {
    border-left: 5px solid #FF900E;
    padding: 21px;
    font-weight: 700;
    font-size: 45px;
}

.architect-descrip {
    margin-top: 24px;
    color: #727272;
}

.content {
    padding-left: 0px;
    margin: 50px;
}

.content-title {
    margin-top: 30px;
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.content-description {
    color: #727272;
}

/* large button */
/* .button-large{
    display:flex;
    justify-content: center;
    transform: translate(90px,-90px);
}
.btn-year{
    border: none;
    padding: 25px 28px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    transition: 0.7s ease all;
} */
.button-large-text{
    font-weight: 400;
    font-size: 22px;
}

/* facts section */
.fact-container {
    margin-top: 100px;
    margin-left: 100px;
}

.fact-container h1 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.fact-container p{
    color: #727272;
}

.fact-boxes {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    text-align: center;
    margin-top: 50px;
}

.box {
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #db7909;
    border-radius: 8px;
    padding: 25px;
    transition: 0.7s;
}
.box:hover{
    background-color: #daa76d;
    transform:translate(0px, 50px);
}

.box-text {
    font-weight: 600;
    font-size: 40px;
    color: #727272;
}

.box-text .numbers {
    font-weight: 600;
    font-size: 70px;
    color: #424242;
}
    /* contact-section */
.contact-us{
    margin-top: 100px;
    background-color: wheat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;

}
.contact-text p{
    font-size: large;
    margin-top: 20px;
    color: #3d3b3b;
    
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.contact-form input{
    border: none;
    border-radius: 5px;
    padding: 15px 60px 15px 30px;
    margin-bottom: 15px;
    color: #727272;
}
.contact-form textarea{
    position: relative;
}

/* Sponsor section */
.spnsr-text{
    text-align: center;
}
.sponsor-head{
    font-weight: 700;
font-size: 45px;
color: #131313;
margin-top: 180px;
}
.sponsor-title{
    color: #727272;
    font-weight: 400;
font-size: 16px;
margin-top: 24px;
}
.image-ad{
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    filter: grayscale(100%);
}
/* foooter */
footer{
    display: block;
    width: 70%;
    margin: 0 auto;
}
.footer-content{
    text-align: center;
    background-color: #ecbdea;
    margin-top: 130px;
    padding: 30px 0;
    /* margin-bottom: 100px; */
 
}

@media only screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        align-items: center;
    }
    .img{
        padding: 0px;
        margin-top: 20px;
    }
    .features-container{
        flex-direction: column;
    }
    .feature-up, .feature-down{
        flex-direction: column;
        align-items: center;
    }
    .architect{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .architect-details{
        width: 70%;
    }
    .architect-title{
       padding-left: 150px;
    }
    .architect-descrip{
        padding-left: 180px;
    }
    .content{
        padding-left: 0%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        margin: 0%;
    }
    .fact-container{
        margin: 0px 20px;
    }
    .fact-boxes{
        flex-direction: column;
    }
    .contact-us{
        flex-direction: column;
    }
    .contact-form{
        margin-top: 80px;
    }
    .image-ad{
        flex-direction: column;
        align-items: center;
    }
    .sponsor-head{
        margin: 20px;
    }
    .footer-content{
        margin: 0%;
        padding: 0%;
    }
}